<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top" >
   <!-- <footer class="navbar sticky-bottom flex-md-nowrap py-3 border-top" style="background-color: #6495ED;"> -->
    <p class="col-md-4 mb-0 text-muted">© 2023 MMC Convert</p>

    <img src="/static/assets/img/mmc_logo.png" style="width: 40px;">

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/jobs" class="nav-link px-2 text-muted">Jobs</a></li>
        <li class="nav-item"><a href="/tool" class="nav-link px-2 text-muted">Tool</a></li>
    </ul>
</footer>