<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <script>
        window.location.href = "{{ auth_url1 }}";
        console.log(auth_url1)
    </script> -->

</head>
<body>
     <script>
     window.onload = function() {
        // Replace 'https://www.example.com' with the URL you want to open
        var newURL = '{{ auth_url1 }}';
        console.log(newURL)
        debugger
        
        // Change the location to the new URL
        window.location.href = newURL;
    };
</script>
</body>
</html>
